/* DESKTOP FIRST */
/* xây dựng website hoàn chỉnh ở màn hình kích thước lớn trước, sau đó mới chỉnh code cho phù hợp ở màn hình nhỏ sau  */
h1 {
    background-color: yellow;
}

/* MÀN HÌNH 992px */
/* vùng ảnh hưởng sẽ nhỏ hơn và bằng 992px */
/* all, print, speech */
@media screen and (max-width:992px) {
    h1 {
        background-color: red;
    }
}

/* MÀN HÌNH 576PX */
/* vùng ảnh hưởng sẽ nhỏ hơn và bằng 576px */
@media screen and (max-width:576px) {
    h1 {
        background-color: green;
    }
}

/* mobile first: ngược lại với desktop first */
h2 {
    background-color: blue;
}
/* MÀN HÌNH 576PX */
/* vùng ảnh hưởng sẽ lớn hơn và bằng 576px */
@media screen and (min-width:576px) {
    h2 {
        background-color: darkcyan;
    }
}
/* MÀN HÌNH 992px */
/* vùng ảnh hưởng sẽ lớn hơn và bằng 992px */
/* all, print, speech */
@media screen and (min-width:992px) {
    h2 {
        background-color: darkmagenta;
    }
}
