// Khai báo biến trong scss-dạng $snake-case
// Phân tích từ UI để tạo các biến có giá trị sử dụng từ 2 lần trở lên
// Color
$color-blue: #2a73dd;
$color-blue-light: #c9d8f4;
$color-blue-dark: #1d365e;
$color-yellow: #f9d412;
$color-white: #fff;
$color-grey-ligth: #f5f9fe;
$color-grey: #e2ebef;
$color-black: #656774;
// Header:
$header-height: 90px;
